* {
  box-sizing: border-box;
} 

body {
  font-family: 'Orbitron', sans-serif;
  color: rgb(37, 37, 144);
   /* background-color: rgb(208, 246, 246);  */
   background-image: linear-gradient(rgb(104, 129, 182), white); */
  /* background-image: linear-gradient(red, yellow); */
}
nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-right: 45px;
  margin-top: 40px;
}

#Logo {
  float:left;
  height:150px;
  width: 450px;
  border: none;
  margin-top: 30px;
  margin-left: 100px;
}

h1 {
  font-size: 150px;
  }

.h2 {
  display: flex;
  flex-direction: row;
  font-size: 60px;
  margin-left: 100px;
}

.hr1 {
  height: 10px;
  background: rgb(37, 37, 144);
  margin-bottom: 35px;
  margin-left: 75px;
}
.hr2 {
  height: 10px;
  background: #252590;
  margin-bottom: 35px;
  margin-right: 75px;
}

#Vote-Tabulator {
  
  /* display: flex; */
  /* justify-content: flex-end; */
  text-align: center;
  font-size: 50px;
  border: 8px solid rgb(37, 37, 144);
  width: 300;
  
  /* margin-right: clear;  */
}
.tabulator {
  display: clear;
  width: 300px;
  margin-left: 200px;
}

ul li img {
border-radius: 50%;
}

#all_images {
  display: flex;  
  justify-content: space-between;
  /* margin-left: 100px; */
}

img {
  height: 350px;
  width: 350px;
  /* margin-left: 50px; */
  /* border: 8px solid rgb(37, 37, 144); */
}
.colorred ul li:hover {
  background: rgb(255, 0, 0);
  color: #fff;
}
.coloryellow ul li:hover {
  background: rgb(255, 255, 0);
  color: #fff;
}
.colorgreen ul li:hover {
  background: rgb(0, 128, 0);
  color: #fff;
}
  

.red {
  border: 20px solid rgb(255, 0, 0);
}

.yellow {
  border: 20px solid rgb(255, 255, 0);
}

.green {
  border: 20px solid green;
  
}

.chart {
  width: 950px;
  height: 250px;
  
}

